<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">All orders</h1>
        <% if(messages.success) { %>
        <div id="success-alert" class="flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3" role="alert">
            <p><span style="font-size: larger;">&#8520;</span> &nbsp&nbsp <%= messages.success%></p>
        </div>
    </div>
    <%  } %>

    <table class="w-10/12 mx-auto table-auto bg-white">
        <thead>
            <tr>
                <th class="px-4 py-2 text-left">Orders</th>
                <th class="px-4 py-2 text-left">Phone</th>
                <th class="px-4 py-2 text-left">Address</th>
                <th class="px-4 py-2 text-left">Time</th>
                <th class="px-4 py-2 text-left">Payment Status</th>
            </tr>
        </thead>
        <tbody>
            <% if(orders.length) { %>
                <% orders.forEach((order)=> { %>

                    <tr>
                        <td class="border px-4 py-2">
                            <a class="link" href="/customers/orders/<%= order._id %>"><%= order._id %></a>
                        </td>
                        <td class="border px-4 py-2">
                            <%= order.phone %>
                        </td>
                        <td class="border px-4 py-2">
                            <%= order.address %>
                        </td>
                        <td class="border px-4 py-2">
                            <%= moment(order.createdAt).format('hh:mm A') %>
                        </td>
                        <td class="border px-4 py-2">
                            <% if(order.paymentStatus || order.status == "completed") { %>
                                <span>&#9989; Paid</span> - <%= order.paymentType %>
                            <% } else { %>
                                <a class="btn-normal rounded px-2" href="/customers/orders/<%= order._id %>">Pay Now</a>
                            <% } %>
                        </td>
                    </tr>

            <% }) %>
            
            <% } else { %>
                <tr>
                    <td class="p-4"><span>No orders found!</span></td>
                </tr>
            <% } %>
        </tbody>
    </table>

</section>